 @namespace url(http://www.w3.org/1999/xhtml);
     
    @-moz-document domain(beta.last.fm), domain(last.fm), domain(lastfm.com.br), domain(lastfm.de), domain(lastfm.es), domain(lastfm.fr), domain(lastfm.it), domain(lastfm.pl), domain(lastfm.se), domain(lastfm.com.tr), domain(lastfm.ru), domain(lastfm.jp), domain(cn.last.fm)
    {
     
     
    #fauxHeader,
    #lastfmLogo,
     
    #profileLinks .divider a,
    #loginLink .profile-link,
     
    #loginLink .profile-link strong,
    #idBadgerUser,
    #idBadgerDropper,
    #siteSearchBox,
    #siteSearchSubmit,
     
     
     
     
     
    /* general */
     
    #content {
        border: 0px none !important;
        background: #f5f5f5 !important;
        margin: 2px 2px !important;
    }
     
    body {
        background: #fff !important;
    }
     
    #page {
        background: #fff !important;
        top: 15px!important;
        border: none !important;
        text-decoration: none !important;
    }
     
    a {
        color: #666 !important;
        font-weight: normal !important;
        font-style: normal !important;
        transition: 0.5s color ease;
    }
     
    a:hover {
        color: #1c1c1c !important;
        font-weight: normal !important;
        font-style: normal !important;
        text-decoration: none !important;
        transition: 0.5s color ease;
    }
     
     
     
     
     
    /* navbar + header */
     
     
    #header {
        background: #fff !important;
        height: 50px !important;
    }
     
    #headerLangToggle img.globe_icon {
        background: #646464 !important;
        height: 16px !important;
    }
     
    #profileLinks {
        height: 16px !important;
        line-height: 16px !important;
        top: 0px !important;
        font-size: 11px !important;
        color: #a2a2a2 !important;;
    }
     
    #profileLinks .divider a {
        height: 11px !important;
        line-height: 11px !important;
    }
     
    #profileLinks ul {
        position: relative !important;
        top: -1px !important;
    }
     
    #loginLink .profile-link, #loginLink .profile-link strong {
        top: 0px !important;
        background: #646464 !important;
        height: 16px !important;
        line-height: 11px !important;
    }
     
    #idBadgerUser {
        background: transparent !important;
        top: 0px !important;
        position: relative !important;
        font-size: 11px !important;
        height: 16px !important;
        right: 0px !important;
        line-height: 16px !important;
        padding: 0px !important;
    }
     
    #idBadgerUser img {
        display: none !important;
    }
     
    #idBadgerDropper {
        display: none !important;
    }
     
    #idBadgerDropper:hover {
        display: none !important;
    }
     
    #profileLinks .divider a {
        background: none !important;
    }
     
    #fauxHeader {
        display: none !important;
    }
     
    #headerLinks {
        display: none !important;
    }
     
    #headerWrapper {
        width: 100% !important;
        position: fixed !important;
        font-size: 9px !important;
        top: 0px !important;
        left: 0% !important;
        right: 0% !important;
        margin: 0px !important;
        background: #646464 !important;
        height: 17px !important;
        line-height: 17px !important;
        padding-top: 1px !important;
        border-top: none !important;
        box-shadow: 0px 4px 3px rgba(0,0,0,0.2) !important;
        color: transparent !important;
        z-index: 2 !important;
    }
     
    #headerPromo a {
        display: none !important;
    }
     
    #primaryNav {
        position: fixed !important;
        top: -19px !important;
        left: 5px !important;
    }
     
    #primaryNav .nav-link {
        top: -10px !important;
        margin: 0px !important;
        font-size: 8px !important;
        height: 16px !important;
        line-height: 11px;
        font-weight: normal !important;
        color: #a2a2a2 !important;
        text-shadow: none !important;
    }
     
    #header a, #headLinks a, #headLinks, .lfmBlack #headLinks, .lmBlack #headLinks a {
            color: #999!important;
     
            text-shadow: none !important;
            text-decoration: none !important;
            }
            span.text-over-image-text text-over-image-text--secondary {
               background-color: transparent !important;
            }
         #header li a:hover {
            color: #fff !important;
            background: transparent !important;
            transition: 0.5s color ease;
            }
           
    #siteSearchBox {
        background: transparent !important;
        color: #a2a2a2 !important;
        right: 145px !important;
        top: -45px !important;
        position: relative !important;
        width: 160px !important;
        height: 11px !important;
        line-height: 11px !important;
        padding: 0px !important;
        margin: 0px !important;
        border: 0px none !important;
        font-size: 11px !important;
    }
     
        input[type="text"], input[type="password"], textarea {
            background: transparent !important;
            color: #a2a2a2 !important;
            border: 0px none !important;
            padding: 0px !important;
        }
     
    .page-head h1 {
        top: -26px !important;
        margin-bottom: 0px !important;
        margin-left: 0px !important;
        width: 100% !important;
        background: #fff !important;
        left: 0px !important;
        position: absolute !important;;
        text-align: center !important;
        font: normal 28pt Helvetica Lt STD Light !important;
        color: #444 !important;
    }
     
    .page-head .crumb-wrapper h1 {
        top: 0px !important;
    }
     
     
    .secondary-nav {
        top: 90px !important;
        text-align: center !important;
        width: 100% !important;
        margin-left: 0px !important;
 
    }
     
    .secondary-nav ul {
        margin-left: 0px !important;
        padding-left: 0px !important;
        width: 100% !important;
        text-align: center !important;
    }
     
    .page-head.without-crumbtrail .secondary-nav {
        left: 0px !important;
        width: 100% !important;
    }
     
    #nav #aboutNav a, #content #primaryNav {
       display: none !important;
    }
     
     
     
     
    /* search integration into the nav bar */
     
    .autocomplete-results {
        top: -38px !important;
        right: 98px !important;
        z-index: 5 !important;
        transition: 0.5s color ease;
    }
     
    .autocomplete-result--hover {
        background: #677996 !important;
        transition: 0.5s color ease;
    }
     
    .dark-box--columns {
        background: #646464 !important;
        border: 1px solid #3f3f3f !important;
    }
     
    .autocomplete-group {
        border: 1px solid #3f3f3f !important;
        border-top: 0px none !important;
        border-bottom: 1px solid #3f3f3f !important;
    }
     
    #page .autocomplete-group-heading h3 {
        color: #fff !important;
        font-weight: normal !important;
        text-shadow: none !important;
    }
     
    .autocomplete-result--selected, .autocomplete-result--selected a {
        background: #677996 !important;
        transition: 0.5s color ease;
    }
     
    .media-body {
        overflow: hidden;
        color: #c3c3c3 !important;
    }
     
     
     
     
     
     
     
     
    /* buttons */
     
    a.button:hover, input.button:hover, button.button:hover, a.confirmButton:hover, input.confirmButton:hover, button.confirmButton:hover {
        color: #3f3f3f !important;
        transition: 0.5s color ease;
    }
     
    a.button, input.button, button.button, a.confirmButton, input.confirmButton, button.confirmButton, .confirmButton, input.confirmButton, button.confirmButton {
        font-weight: normal !important;
        text-shadow: none !important;
        background: none !important;
        border: 0px none !important;
        transition: 0.5s color ease;
    }
     
    table.tracklist td.lovedCell {
        display: none !important;
    }
     
     
     
     
     
    /* neighbors (?) */
     
    .page-head.with-crumbtrail.with-image .crumb-image {
        display: none !important;
    }
   
    .page-head .crumb-wrapper h1 {
        top: -5px !important;
        text-align: center !important;
        width: 100% !important;
    }
     
    .page-head.with-crumbtrail.with-image {
        bottom: 34px !important;
        margin-bottom: 0px !important;
        margin-left: 0px !important;
        width: 100% !important;
        background: #fff !important;
        left: 0px !important;
    }
     
    div.skylineRight {
        width: 100% !important;
        margin-right: 2px !important;
        margin-left: 2px !important;
        overflow: hidden;
        position: relative !important;
    }
     
    div.skylineRight div.skyWrap {
        overflow: hidden;
        padding: 0px 15px;
    }
     
    .page-head .crumb-wrapper h1 {
        border-top: 0px none !important;
        width: 100% !important;
        background: #fff !important;
    }
     
    div.sic #content {
        padding: 0px !important;
    }
     
    .pagination {
        float: right;
        margin: 0.5em 0px;
        font-size: 11px !important;
    }
     
    .pagination .selected {
        font-weight: normal !important;
        border: 0px none;
        color: #3f3f3f !important;
    }
     
    h2 {
        font-family: Helvetica !important;
        color: #444 !important;
        font-size: 16px !important;
    }
     
    .stationbuttonMedium {
        display: none !important;
    }
     
    .page-head.with-crumbtrail .secondary-nav {
        top: 50px !important;
    }
     
     
     
     
     
     
    /* charts - to do */
     .collapsibleBox-heading h3 {
        z-index: auto !important;
     }
     
     .rankItem-wrap {
        z-index: 1 !important;
     }
     
     .l-970 .page-head {
        width: 100% !important;
     }
     
     .l-970 .page-head {
        top: -74px !important;
        height: 20px !important;
        position: relative !important;
    }
     
     .l-970 #content {
        top: 54px !important;
    }
   
    .l-row {
        top: -20px !important;
        margin-top: 0px !important;
        padding-top: 0px !important;
    }
 
    #uploadYourMusic {
        display: none !important;
    }
   
   
     
     
     
    /* artists */
     
    article, aside, figcaption, figure, footer, header, hgroup, nav, section {
        display: block;
        border: 0px none !important;
    }
     
    .tags a, .tag a {
        display: inline-block;
        color: #909090 !important;
        padding: 3px 10px;
        margin-bottom: 6px;
        background-color: #f9f9f9 !important;
        border-radius: 2px 2px 2px 2px;
        text-transform: lowercase;
        line-height: 24px;
        font-size: 12px;
        transition: 0.5s color ease !important;
    }
     
        .tags a:hover, .tag a:hover {
            color: #3f3f3f !important;
            transition: 0.5s color ease !important;
        }
     
    .btn {
        border-radius: 2px 2px 2px 2px;
        display: inline-block;
        padding: 11px 15px;
        background-color: #f9f9f9 !important;
        color: #909090 !important;
        -moz-box-sizing: border-box;
        transition: 0.5s color ease !important;
    }
     
    .btn:hover {
        color: #3f3f3f !important;
        transition: 0.5s color ease !important;
    }
     
    .featured-tracks {
        background: #f9f9f9 !important;
        color: #646464 !important;
        border-radius: 2px 2px 2px 2px;
        padding: 12px 0px;
    }
     
    .featured-track-cell {
        background: #f9f9f9 !important;
    }
     
    .featured-type--free-download {
        background: #eee !important;
        color: #909090 !important;
        text-decoration: none;
    }
     
    .featured-type--free-download:hover, .featured-type--free-download:focus {
        color: #3f3f3f !important;
    }
     
    r {
        padding-top: 0px !important;
    }
     
    article, aside, figcaption, figure, footer, header, hgroup, nav, section {
        margin-top: 0px !important;
    }
     
     
     
     
     
    /* radio */
     
    #webRadio .webRadioHeader {
        position: relative;
        background: #646464 !important;
        color: #a2a2a2 !important;
    }
     
    .webRadioHeader h1 {
        color: #eee !important;
        font-family: Helvetica !important;
        font-size: 18px !important;
    }
     
    #webRadio .starterContent {
        background: #f5f5f5 !important;
        float: left !important;
    }
     
    #webRadio p#sampleStations {
        font-weight: normal !important;
        text-align: center;
    }
     
    span#simpleInput {
        display: block;
        float: left;
        width: 428px;
        height: 48px;
        margin-left: 28px !important;
        background: #f5f5f5 !important;
        margin-top: 4px;
    }
     
    span#simpleInput input {
        font-size: 11px !important;
        font-weight: normal !important;
    }
     
    input#simpleSubmit:hover, input#simpleSubmit {
        display: none !important;
    }
     
    #userMetadata div.items h2.heading span {
        background: #646464 !important;
        color: #eee !important;
        font-size: 11px !important;
    }
     
    #webRadio .stationSection h3 {
        position: relative;
        margin: 0px -10px 10px;
        padding: 5px;
        height: 15px;
        text-align: center;
        background: #646464 !important;
        color: #eee !important;
    }
     
    stationSection {
        margin: 15px 0px 0px;
        padding: 0px 10px 10px;
        background: #fff !important;
    }
     
    #rightColumn {
        display: inline !important;
        position: absolute;
        float: right !important;
        width: 290px !important;
    }
     
    #page #content span.moduleOptions a, #page #content a span.moduleOptions {
        background-image: none !important;
    }
     
    div.dismissMessageGrey {
        display: none !important;
    }
     
     
     
     
     
    /* events */
     
    #eventTags {
        padding: 0px !important;
        height: 24px;
        overflow: hidden;
        background: none !important;
        border: 0px none !important;
    }
     
    .filterTags li a, .filterTags li a span {
        color: #909090 !important;
        background: none !important;
        border: 0px none !important;
        transition: 0.5s color ease !important;
    }
     
    .filterTags li a:hover, .filterTags li a:hover span {
        color: #3f3f3f !important;
    }
     
    .filterTags li a.selected span {
        background: none !important;
        font-weight: normal !important;
        color: #3f3f3f !important;
        transition: 0.5s color ease !important;
    }
     
    table.eventsMedium .day th {
        padding: 15px 0px 5px;
        font-size: 11px;
        font-weight: normal !important;
    }
     
    .metaBadge {
        padding-left: 35px;
        position: relative;
        margin: 1em 0px;
    }
     
    .metaBadge strong {
        font-size: 14px !important;
        font-family: Helvetica !important;
        font-weight: bold !important;
        color: #444 !important;
    }
     
     
     
     
     
    /* I forget what this was */
     
    a.icon:hover span, a.icon:hover strong {
        text-decoration: none !important;
    }
     
     
    div.fixed {max-width: 100% !Important;
        border: none !important;
        background: transparent !important;
    }
     
    body,div,dl,dt,dd,ul,ol,li,h2,h3,h4,h5,h6,pre,form,fieldset,input,select,textarea,p,blockquote,th,td {  
        color: #909090 !important;
    }
     
     
    h1 {
        border-bottom-color: #FFF !important;
        color: #646464 !important;
    }
     
    #btdetails {
        background: #f5f5f5 !important;
        border: none !important;
    }
     
     
     
     
     
    /* home page */
     
    .page-head.separated {
        padding-bottom: 18px;
        margin-bottom: 15px;
        border-bottom: none !important;
    }
     
     
     
    #page #launcherModule {
        background: #f5f5f5 !important;
        border-radius: 0px !important;
        color: rgb(204, 204, 204);
        font-size: 11px !important;
        margin: 0px !important;
     
    }
     
    #page #launcherModule h2.heading span.h2Wrapper {
        height: 18px;
        padding: 5px 8px 2px;
        display: none !important;
        font-weight: normal !important;
    }
     
    #launcher input#userInput {
        position: relative !important;
        width: 238px;
        top: 15px !important;
        height: 14px !important;
        line-height: 14px !important;
        margin: 0px !important;
        padding: 0px !important;
        border: 1px solid #909090 !important;
        font-size: 11px;
        font-weight: normal !important;
    }
     
    #launcher .smallPlayButton {
        display: none !important;
    }
     
        img.icon {
            display: none !important;
        }
     
    #page .stationbuttonInline span {
        vertical-align: middle;
        font-weight: normal !important;
        color: #646464 !important;
    }
     
    #page .h2Wrapper a {
        color: #646464 !important;
    }
     
            h2Wrapper a:hover {
                color: #3f3f3f !important;
                transition: 0.5s color ease;
            }
     
    #page .rightCol h2.heading {
        font-family: Helvetica !important;
        font-size: 15px !important;
        font-weight: bold !important;
        color: #3f3f3f !important;
        line-height: 18px;
    }
           
     
     
     
     
    /* profile */
           
    #userBadge .badgeInfo p.userInfo {
        font-size: 11px !important;
        color: #3f3f3f !important;
    }
     
    #page .h2Wrapper a {
        color: #3f3f3f !important;
        font-family: Helvetica !important;
        font-size: 15px !important;
        font-weight: bold !important;
        color: #3f3f3f !important;
    }
     
    .horizontalOptions ul {
        overflow: hidden;
        margin-bottom: -1px !important;
    }
     
    .horizontalOptions ul li.current a {
        border-bottom: 0px none !important;
        text-decoration: none;
    }
     
    .shouts .message p {
        color: #646464 !important;
    }
     
     
    table.tracklist td.subjectCell {
        color: #646464 !important;
        background: transparent !important;
    }
     
    table.tracklist td.highlight {
        border-top: 1px solid #c3c3c3 !important;
        color: #3f3f3f !important;
        background: #fff !important;
    }
     
     
     
    #homeHead h1 {
        color: #444 !important;
        font-size: 22px !important;
        font-family: Helvetica !important;
        font-weight: bold !important;
    }
     
    .tasteometer .super span {
        background: none repeat scroll 0% 0% #677996 !important;
    }
     
    #tasteCocktail .wrapper {
        border: 0px none !important;
        top: 5px !important;
        left: -5px !important;
    }
     
    #taste ul.libraryItems {
        overflow: hidden;
        position: relative;
        height: 310px;
        clear: both;
        padding-top: 70px !important;
    }
     
     
     
     
    /* music */
     
    div.fixed div.rightCol {
        float: right;
        display: inline;
        position: relative;
        padding: 5px !important;
        width: 300px !important;
       
    }
     
    div.fixed div.leftCol {
        float: left;
        display: inline;
        margin-right: -330px !important;
        width: 100%;
        overflow: visible;
        display: block !important;
    }
     
    div.wrapper {
        width: 522px;
        float: right !important;
        top: 0px !important;
        padding-top: 0px !important;
        position: absolute;
    }
     
    ul.tagList {
        width: 111px;
        float: left;
        display: block !important;
        position: absolute;
        overflow: visible !important;
    }
     
    .tagHead h2 {
        color: #444 !important;
        font-size: 11px !important;
        line-height: 1.25em;
    }
     
    .tagHead {
        background: none !important;
        color: #444 !important;
        border-bottom: 0px none !important;
    }
     
    #music-landing p.listfilter {
        border-bottom: 0px none !important;
        background: none !important;
        text-align: center !important;
    }
     
    .promo-unit {
        display: none !important;
    }
     
     
     
     
    /* login */
     
    #phishingWarning {
        display: none !important;
    }
     
    div#signup h2 {
        font-size: 11px !important;
        padding-top: 1em;
    }
     
     
     
     
     
     
     /* random/stuff to hide */
     
     
    .lfmDropDown a.lfmSmallBuyMoreButton {
        display: none !important;
    }
     
    strong, .strong, b, h1, h2, h3, h4, h5, h6 {
        font-weight: normal !important;
    }
           
    #siteSearchSubmit {
        display: none !important;
    }
     
    .LastAd, .LastAd * {
        display: none !important;
    }
     
    #lastfmLogo {
        display: none !important;
    }
     
    .ecommerce-icon {
        display: none !important;
    }
     
    }
 
 
   
   
   
    /* playground */
   
     @-moz-document domain(playground.last.fm)
     
     {
   
    div#container {
        background: #fff !important;
    }
   
    div#content {
        width: 80% !important;
        left: 10% !important;
        right: 10% !important;
    }
   
    h3 {
        font-weight: bold !important;
        font-family: Helvetica !important;
        font-size: 18px !important;
        color: #444 !important;
    }
   
    p.intro {
        font-size: 11px !important;
    }
   
    #LastLogo, .img {
        display: none !important;
    }
   
    }
