    #appcontent,
    #appcontent > #content,
    #appcontent > #content > tabbox > tabpanels {
      background: #fbfbfb !important;
    }
     
    #main-window[stylish-url="about:blank"]:not([onclose^="PrintUtils"]):not([title^="Source Chart"]):not([chromehidden="menubar toolbar directories extrachrome "]) #content browser:not([src]){
       opacity: 0 !important;
    }
     
    .tabbrowser-arrowscrollbox > .scrollbutton-up,
    .tabbrowser-arrowscrollbox > .scrollbutton-down,
    toolbarbutton#appmenu-toolbar-button,
    toolbarbutton#alltabs-button,
    toolbarbutton#new-tab-button,
    .tab-icon-image,
    .tabs-closebutton-box,
    .tab-close-button {
        display: none !important;
    }
     
    #main-window:not([disablechrome]) #navigator-toolbox[tabsontop=true] {
	border-bottom: 1px solid #404040 !important;
    }
	
    tab {
	border-bottom: 1px solid !important;
	border-bottom-color: #404040 !important;
    }
     
    
/*    tab[selected="true"] {
	border-bottom: 1px solid !important;
	border-bottom-color: #404040 !important;
    } */

    tabs#tabbrowser-tabs, tabs#tabbrowser-tabs * {
        -moz-appearance: none !important;
        border-radius: 0px !important;
        border: 0 !important;
        background-image: none !important;
        margin-top: 0px !important;
        max-height: 13px !important;
        min-height: 13px !important;
    }
     
    tabs#tabbrowser-tabs {
        background: #fbfbfb !important;
        padding-top: 0px !important;
        margin-left: 0px !important;
        text-align: center !important;
    }
     
    .tabbrowser-tab {
            max-height: 12px !important;
            margin-left: 0px !important;
            padding-top: 2px !important;
            color: #646464 !important;
            background: #fbfbfb !important;
    }
     
    .tabbrowser-tab[selected=true] {
            color: #eee !important;
            background: #404040 !important;
     }
     
    .tabbrowser-tab .tab-text {
            margin-left: 0px !important;
            margin-right: 0px !important;
            margin-top: 0px !important;
            font-size: 9px !important;
            font-family: limey !important;
    }
     
    #urlbar dropmarker,
    #identity-box,
    #star-button,
    #go-button,
    .tab-throbber,
    .tabs-newtab-button,
    .tab-throbber[progress] {
        display: none !important;
    }
     
    .titlebar-placeholder[type="caption-buttons"] {
        margin-left: 10px !important;
    }
     
    .tabbrowser-tabs:not([drag=detach]) > .tabbrowser-tab:not([pinned])[fadein] {
        min-width: 30px !important;
        max-width: 130px !important;
    }
     
    notificationbox {
        overflow-x: hidden;
    }
     
    browser[type="content-primary"], browser[type="content-targetable"] {
        overflow-y: scroll;
        margin-right: -8px;
    }

