n("boards.4chan.org") {
        body {
          background: #fff!important;
          font-family: Helvetica !important;
          font-size: 8pt !important;
        }
       
       
/*
=======================
General colors
=======================
*/


        a.useremail[href*='sage']:last-of-type::after,
        a.useremail[href*='Sage']:last-of-type::after,
        a.useremail[href*='SAGE']:last-of-type::after {
            content: " (sage)" !important;
            color: #a27b9d !important;
            font-size: 9pt !important;
            font-weight: bold !important;
        }
        
        span.capcodeMod span.name, span.capcodeMod a:not(:hover), span.capcodeMod span.postertrip, span.capcodeMod strong.capcode {
            color: #a27b9d !important;
        }
        
        .useremail .name {
            color: #7b80a2 !important;
            text-decoration: none !important;
            font-weight: bold !important;
        }
     
        .useremail .name:hover {
            color: #777 !important;
        }
       
        a.useremail {
            color: #aaa !important;
            font-style: normal !important;
            text-decoration: none !important;
        }
       
        a.useremail:hover {
            color: #888 !important;
            transition: 0.5s color ease;
        }
       
        #spoilerLabel {
            color: #ccc !important
        }
     
        .name {
            color: #7b80a2 !important;
            font-weight: bold !important;
            text-decoration: none !important;
        }
               
        .postertrip {
            color: #bf7c83 !important;
        }
    
        .dateTime {
            color: #999 !important;
            font-style: normal !important;
            margin-left: 4px !important;
            margin-right: 4px !important;
        }
       
        .fileText {
            color: #d8a5aa !important;
        }
     
        .postNum a, .inline .postNum a {
            color: #bf7c83 !important;
        }
     
        .postNum a:hover, .inline .postNum a:hover {
            color: #a27b7f !important;
        }
     
        .fileInfo a, .fileText a, .inline .fileInfo a, .inline .fileText a {
            color: #a5abd8 !important;
        }
     
        .fileText a:hover, .fileInfo a:hover, .inline .fileInfo a:hover, .inline .fileText a:hover {
            color: #7b80a2 !important;
        }
       
        .fileText, .fileInfo a, .fileText a {
            font-family: limey !important;
            font-style: normal !important;
        }
       
        a.replylink {
            color: #ccc !important;
            text-decoration: none !important;
            font-size: 9pt !important;
        }
     
        a.replylink:hover {
            color: #aaa !important;
        }
     
        .post.op .postNum > span {
            color: transparent !important;
            font-size: 0px !important;
        }
        .backlink:first-child::before {
            margin-left: -4px !important;
        }
    
        .backlink {
            font-size: 0 !important;
        }
     
        .backlink:after {
            content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH3QEbFh0G1qhKlAAAAMJJREFUGNNdjjFqAmEYRN/sanCjoMkBLAOCtZewEHKFeAEbEQxkRZBYqI2QC1gtqXIAD2GTxoCEBKs0ERbU3/1SuGJwuhneDAOpoijyH3vDBy7kAYRhmFu8ryZC9UtArdY4yJfcCKgBO4wPZAdJcz+JZ5nr4n4AqqWFK0QFhBnVgxcUPPmaYvz8W40x+wacJWro+OG57NCLpG3/qX1/zEZ3DtdPT3Y+k6xrGnydhzZLE2/eyQ663XXG4s4ZuC383gSvf/KcPkhRDAYHAAAAAElFTkSuQmCC) !important;
            font-size: 8pt !important;
            padding-top: 3px !important;
            margin-right: 6px !important;
        }
    
        .backlink:hover::after, .backlink.filtered:hover::after {
            opacity: 0.75 !important;
            transition: all 0.3s ease 0s;
        }
            
        .backlink.filtered:after {
            opacity: 0.55 !important;
        }

        .post.op .backlink:first-child {
            margin-left: 0px !important;
            margin-right: 0px !important;
        }
       
        .postMessage {
            margin-left: 0px;
            margin-right: 20px !important;
            padding-right: 0px !important;
            margin-top: 10px;
            margin-bottom: 10px;
            width: 94%;
            line-height: 16px !important;
            font-size: 8pt !important
        }
       
        .warning > a, .warning, #errmsg {
            color: #132745 !important;
            text-shadow: none !important;
            text-align: center !important;
        }
       
        .linkifyplus a, .postMessage a, #credits a {
            color: #677996 !important;
            text-decoration: none !important;
        }
        .linkifyplus a:hover, .postMessage a:hover, #credits a:hover {
            color: #254d87 !important;
        }
     
        .quote {
            color: #28915d !important;
        }
       
        .subject {
            color: #666 !important;
            font-weight: bold !important;
            font-style: normal !important;
        }
       
        .summary {
            color: #aaa !important;
            float: right !important;
            margin-right: 2px !important;
            padding-bottom: 2px !important;
            font-size: 8pt !important;
        }
       
        .summary:hover {
            color: #888 !important;
        }
     
        .abbr {
            font-size: 8pt !important;
            color: #ccc !important;
        }
       
        .filtered, .inline .filtered, a.quotelink.filtered {
            text-decoration: none !important;
            color: #c3c3c3 !important;
        }
       
        .nameBlock .posteruid {
            color: #aaa !important;
        }


/*
=============
Board banner
=============
*/

        /*Things to hide*/
        hr,
        .deleteform,
        .postingMode,
        .stylechanger,
        .boardBanner > img.title,
        .postForm,
        .move > span > select,
        .extButton,
        h1,
        #imageType,
        select#imageType,
        div.center {
            display: none !important;
        }
       
        .postNum a[title="Highlight this post"] {
            font-size: 0 !important;
            color: transparent !important;
        }
       
        .boardBanner {
            margin-bottom: 0px !important;
            background: transparent !important;
            width: 94% !important;
            margin: 0 auto !important;
            padding-top: 10px !important;
            padding-bottom: 0px !important;
            margin-bottom: -20px !important;
            box-shadow: none !important;
            border-radius: 0px !important;
        }
       
        .boardTitle {
            color: #444 !important;
            font: normal 24pt Helvetica Lt STD Light !important;
        }
     
        .boardSubtitle {
            margin-top: -2px !important;
            color: #666 !important;
            font: normal 8pt limey !important;
        }
     
        .boardSubtitle a {
            color: #677996 !important;
            text-decoration: none !important;
        }
       
        .boardSubtitle a:hover {
            color: #677996 !important;
        }
     
        #boardNavDesktopFoot, .absBotText {
            font-size: 0px !important;
            color: transparent !important;
        }
       
       
/*
==================
Navigation links
==================
*/


        /*  to do: display boards upon hover a la hdni's 'links' menu */
        #boardNavDesktop {
            position: fixed !important;
            right: -1000px !important;
            width: 100px !important;
            top: 0px !important;
            padding-top: 0px !important;
            height: 14px !important;
            background: #3a5976!important;
            z-index: 2 !important;
            text-align: center !important;
            border-top: none !important;
            box-shadow: 0px 4px 3px rgba(0,0,0,0.2) !important;
            font-size: 0 !important;
            color: transparent !important;
        }
       
       
        #boardNavDesktop a {
            top: 0px !important;
            font-family: limey !important;
            font-size: 8pt !important;
            color: #a2a2a2 !important;
            text-shadow: none !important;
            margin-left: 2px !important;
            transition: 0.5s color ease;
        }
       
        #boardNavDesktop a[class="current"]{
            color: #f9f9f9 !important;
            font-weight: normal !important;
            text-shadow: none !important;
        }
       
        #boardNavDesktop > * {
            display: none;
        }
       
        #boardNavDesktop a::before {
            content: none !important;
            transition: 0.5s color ease;
        }
       
       #boardNavDesktop a:hover {
            color: #fff !important;
            transition: 0.5s color ease;
        }
       
        #boardNavDesktop a::after {
            content: "\A0/" !important;
            color: #a2a2a2 !important;
            text-shadow: none !important;
        }
         
        #boardNavDesktop a[href*="/a/"] {
            display: inline !important;
        }
     
        #boardNavDesktop a[href*="/a/"]::before {
            content: "/\A0" !important;
            color: #a2a2a2 !important;
            text-shadow: none !important;
        }
     
        #boardNavDesktop a[href*="/co/"] {
            display: inline !important;
        }
        
        #boardNavDesktop a[href*="/mu/"] {
            display: inline !important;
        }
        
        #boardNavDesktop a[href*="/g/"] {
            display: inline !important;
        }

        .navLinks {
            font-size: 0px !important;
            color: transparent !important;
        }
       
/*Global message integration into the top bar*/
        
        /* to do: enable background for active toggle */
        #globalToggle {
            display: inline !important;
            position: fixed !important;
            top: 5px !important;
            right: 0% !important;
            z-index: 4 !important;
            margin-right: 62px !important;
            padding-left: 1px !important;
            cursor: default !important;
            text-decoration: none !important;
            cursor: pointer !important;
            font-size: 0;
            height: 11px !important;
            width: 10px !important;
            border-radius: 3px !important;
        }

        #globalToggle::after {
            content: url('http://i46.tinypic.com/3zxuh.jpg');
            color: #b37d7d;
            background: transparent !important;
        }
       
       a#globalToggle.button.redButton.mobile.shown::after, a#globalToggle.button.redButton.mobile.shown:active::after{
            content: url('http://i48.tinypic.com/dfhteh.jpg');
            background: #888 !important;
        }
       
        .globalMessage {
            position: relative !important;
            width: 60% !important;
            height: auto !important;
            top: 12px !important;
            right: 20% !important;
            left: 20% !important;
            padding-bottom: 0px !important;
            padding-top: 4px !important;
            z-index: 1;
            border-bottom-left-radius: 2px !important;
            border-bottom-right-radius: 2px !important;
            background: transparent !important;
        }
        
        .globalMessage.hideMobile {
            display: none;
        }
       
        #globalMessage h3 {
            font-size: 10pt !important;
            color: #888 !important;
            font-weight: normal !important;
            margin: 2px !important;
        }
       
        strong, h2 {
            margin: 2px !important;
            font-size: 10pt !important;
            color: #eeeeee !important;
            font-weight: normal !important;
        }
       
        .globalMessage a {
            color: #666 !important;
            font-weight: normal !important;
            text-decoration: none !important;
        }
       
        .globalMessage a:hover {
            color: #ddd !important;
        }
        
/*Thread statistics and thread updater integration into the navbar*/

        #stats {
            float: right;
            position: fixed !important;
            top: 0px !important;
            left: 0% !important;
            bottom: auto !important;
            right: auto !important;
            border: none !important;
            z-index: 4 !important;
            width: auto !important;
            font-family: limey !important;
            font-size: 9pt !important;
            color: #ccc !important;
            text-shadow: none !important;
            margin-left: 6px !important;
            background-color: transparent !important;
        }
       
        #updater {
            float: right;
            display: inline !important;
            position: fixed !important;
            left: 0% !important;
            right: auto !important;
            top: 2px !important;
            bottom: auto !important;
            z-index: 3 !important;
            height: 12px !important;
            margin-left: 48px !important;
            font-family: limey !important;
            font-size: 9pt !important;
            color: #a2a2a2 !important;
            text-shadow: none !important;
            background-color: transparent !important;
        }
       
        #updater div, #stats div {
            cursor: default !important;
        }
       
        #updater:hover {
            border: none !important;
        }
       
        #updater input[name="Interval"] {
            font-size: 9pt !important;
            margin-left: 2px !important;
        }
       
        #count.new {
            background: transparent !important;
            color: #646464 !important;
        }
     
        input[value="Update Now"], input[value="Previous"], input[value="Next"] {
            font-size: 9pt !important;
        }

/* Thread watcher integration into the navbar */

        #watcher {
            position: fixed !important;
            top: -1000px !important;
            right: 0px !important;
            left: auto !important;
            width: 230px !important;
            z-index: 3 !important;
            font-family: limey !important;           
            font-size: 9pt !important;
            background: #888 !important;
            box-shadow: 0px 6px 5px rgba(0,0,0,0.2) !important;
            border-bottom-left-radius: 3px !important;
            border-bottom-right-radius: 3px !important;
            border: none !important;
        }
       
        #watcher > div {
            max-width: 300px !important;
            width: 300px !important;
            overflow: hidden !important;
        }
       
        #watcher .move {
            font-size: 0px !important;
            height: 10px !important;
            margin-top: -10px !important;
            cursor: default !important;
            z-index: 3 !important;
        }
       
        #watcher::before {
            content: url('http://i46.tinypic.com/maaqzd.jpg') !important;
            height: 16px !important;
            max-width: 10px !important;
            min-width: 10px !important;           
            position: fixed !important;
            top: 2px !important;
            right: 0% !important;
            padding-left: 2px !important;
            margin-right: 35px !important;
            padding-bottom: 0px !important;
            padding-top: 2px !important;
            z-index: 3 !important;
            cursor: pointer !important;
        }
     
        #watcher:active::before, #watcher:hover::before {
            content: url('http://i48.tinypic.com/2ijhgmr.jpg') !important;
            background: #888 !important;
            border-radius: 3px !important;
        }
     
        #watcher:active, #watcher:hover {
            position: fixed !important;
            z-index: 3 !important;
            top: 16px !important;
            float: right !important;
            right: 1% !important;
            margin-top: 0px !important;
            margin-right: 4px !important;
            cursor: default !important;
            border-radius: 3px !important;
            box-shadow: 0px 3px 3px -1px rgba(0,0,0,0.3) !important;
        }
       
        #watcher a {
            color: #eee !important;
            text-decoration: none !important;
            margin-left: -2px !important;
        }
       
        #watcher a[href="javascript:;"] {
            color: #ababab !important;
            text-shadow: none !important;
        }
       
           
        /*Settings integration into the navbar*/
        a.settingsWindowLink {
            position: fixed !important;
            top: 4px !important;
            right: 0% !important;
            margin-right: 10px !important;
            z-index: 4 !important;
            font-family: limey !important;
            font-size: 0 !important;
            color: transparent !important;
        }
       
        a.settingsWindowLink {
            font-size: 9pt !important;
            color: #ccc !important;
            cursor: pointer !important;
            font-family: limey !important;
            font-size: 0 !important;
            color: transparent !important;
        }
     
        a.settingsWindowLink::before {
            content: url('http://i46.tinypic.com/mry1wz.jpg');
        }
        
/* Image control integration into the navbar */

    /* to do: enable background for active expansion */
      #imgControls {
        font-size: 0px !important;
        color: transparent !important;
    }
   
    input[type="checkbox"]#imageExpand {
        display: none !important;
    }
   
    #imgControls > *::before {
        position: fixed !important;
        content: url('http://i48.tinypic.com/14twj87.jpg');
        height: 12px !important;
        width: 12px !important;
        top: 5px !important;
        right: 0% !important;
        margin-right: 47px !important;
        z-index: 4 !important;
        cursor: pointer !important;
    }
   
    #imgControls >*:active::before, #imgControls >*:hover::before {
        content: url('http://i48.tinypic.com/wmb2ah.jpg');
    }
    
    .field {
        font-family: limey !important;
        font-size: 9pt !important;
        background: #fff !important;
    }    
       
        .prettyprint {
            background-color: #eee !important;
            border: none !important;
            border-radius: 0px !important;
            box-shadow: none !important;
            margin-bottom: -6px !important;
            margin-top: 1px !important;
            font-size: 9pt !important;
            padding-bottom: 2px !important;
            padding-top: 4px !important;
        }
     
        .post.reply {
            background: transparent !important;
            border: none !important;
            margin-top: -1px !important;
            width: 100% !important;
        }
     
        .hide_reply_button {
            position: relative !important;
            float: right !important;
            margin-top: 2px !important;
            margin-right: 8px !important;
            z-index: 0 !important;
           
            font-family: limey !important;
            font-size: 0px !important;
            color: transparent !important;
        }
       
/* QR integration into the navbar */

        #qr {
            display: block !important;
            width: 0px !important;
            height: 0px !important;
            top: 20px !important;
            float: right !important;
            right: 1% !important;
            z-index: 5;
            margin-right: 2px !important;
            background: transparent !important;
            border: none !important;
        }
     
        #qr input[type="checkbox"] {
            display: none !important;
        }
     
        #qr:hover input[type="checkbox"] {
            top: 8px !important;
        }
     
        #qr .move {
            display: none !important;
            position: fixed !important;
            float: right !important;
            right: 4% !important;
            top: 7px !important;
            margin-top: 0px !important;
            margin-right: 30px !important;
            font-size: 0px !important;
            color: transparent !important;
            background-color: transparent !important;
            height: 25px !important;
            max-width: 15px !important;
            min-width: 15px !important;
            cursor: default !important;
        }
       
        #qr::before {
            content: url('http://i47.tinypic.com/2jd2weu.jpg');
            height: 16px !important;
            max-width: 12px !important;
            min-width: 12px !important;
            border-radius: 3px !important;
            padding-left: 4px !important;
            position: fixed !important;
            padding-top: 1px !important;
            top: 2px !important;
            right: 0% !important;
            margin-right: 20px !important;
            z-index: 5;
        }
     
        #qr:hover::before {
            content: url('http://i46.tinypic.com/34r88ci.jpg') !important;
            background: #888 !important;
        }
     
        #qr > div {
            max-width: 400px !important;
            width: 400px !important;
        }
       
        #qr:hover {
            display: block !important;
            top: 0px !important;
            float: right !important;
            
        }
     
        .close {
            display: none !important;
        }
     
        #qr form {
            position: fixed !important;
            top: 16px !important;
            float: right !important;
            right: 1% !important;
            margin-right: 4px !important;
            width: 400px !important;
            padding-top: 4px !important;
            padding-bottom: 3px !important;
            padding-left: 4px !important;
            padding-right: 4px !important;
            background: #888 !important;
            border-radius: 3px !important;
            box-shadow: 0px 3px 3px -1px rgba(0,0,0,0.3) !important;
        }
       
        #qr form:hover, #qr form:focus {
            position: fixed !important;
            z-index: 5 !important;
        }
     
       input[title="Name"].field {
            border: none !important;
            border-left: 1px solid #eee !important;
            margin-left: 40px !important;
       }
     
       input[title="Subject"].field {
            border: none !important;
            border-left: 1px solid #eee !important;
            border-top-right-radius: 2px !important;
       }
     
        input[title="E-mail"].field {
            border: none !important;
            border-left: 1px solid #ddd !important;
        }  
     
        input[title="Name"].field, input[title="E-mail"].field, input[title="Subject"].field {
            -moz-appearance: none !important;
            position: relative !important;
            margin-bottom: 0px !important;
            height: 26px !important;
           
            font-size: 10pt !important;
            background: #fff !important;
            color: #333 !important;
            border-bottom: 1px solid #eee !important;
        }
       
        input[title="Dump list"] {
            -moz-appearance: none !important;
            color: #ccc !important;
            font-size: 10pt !important;
            display: block;
            height: 26px !important;
            margin-bottom: -26px !important;
           
            background: #fff !important;
            border: none !important;
            border-bottom: 1px solid #eee !important;
            border-top-left-radius: 2px !important;
        }
     
        form .field:hover, .textarea .field:hover {
            background: #fdfdfd !important;
            box-shadow: inset 0px 0px 3px rgba(0,0,0,0.1) !important;
        }
       
        form > .textarea > .field {
            -moz-appearance: none !important;
            height: 200px !important;
            max-width: 200px !important;
            margin-bottom: 0px !important;
            font-size: 9pt !important;
            background: #fff !important;
            color: #333 !important;
            border: none !important;
        }
       
        form > div > input[type="submit"] {
            position: absolute !important;
            font-size: 9pt !important;
            float: right !important;
            width: 70px !important;
            height: 26px !important;
            margin-top: -26px !important;
            margin-left: 50px !important;
           
            -moz-appearance: none !important;
            background: #fff !important;
            color: #ccc !important;
            border: none !important;
            border-left: 1px solid #eee !important;
            border-bottom: 1px solid #eee !important;
            text-transform: lowercase !important;
        }
       
        .captchainput .field {
            -moz-appearance: none !important;
            margin-top: 0px !important;
            margin-left: 1px !important;
            margin-bottom: 0px !important;
            font-size: 9pt !important;
            height: 26px !important;
            border: none !important;
            background: #fff !important;
            color: #333 !important;
        }
       
        form > div > input[type="submit"]:hover {
            background: #fdfdfd !important;
            box-shadow: inset 0px 0px 3px rgba(0,0,0,0.1) !important;
        }
     
        form > div > input[type="file"] > * {
            width: 330px !important;
            height: 23px !important;
           
            -moz-appearance: none;
            background: #fff !important;
            color: #333 !important;
            font-size: 9pt !important;
            border: none !important;
            border-top: 1px solid #eee !important;
            border-bottom-left-radius: 2px !important;
        }
       
        form > div > input[type="file"] {
            margin-top: -1px !important;
        }
     
        form > div > input[type="file"] > input[type="button"] {
            position: absolute !important;
            font-size: 9pt !important;
            float: right;
            width: 70px !important;
            height: 26px !important;
            margin-top: 0px !important;
            margin-left: 0px !important;
            padding-bottom: 1px !important;
           
            -moz-appearance: none;
            background: #fff !important;
            color: #ccc !important;
            border: none !important;
            border-top: 1px solid #eee !important;
            border-left: 1px solid #eee !important;
            border-bottom-left-radius: 0px !important;
            border-bottom-right-radius: 2px !important;
            text-transform: lowercase !important;
        }
       
        form > div > input[type="file"] > input[type="button"]:hover {
            background: #fdfdfd !important;
            box-shadow: inset 0px 0px 3px rgba(0,0,0,0.1) !important;
        }
     
        form .captchainput {
            width: 330px !important;
            margin-left: -1px !important;
        }


/*
=====================
Threads, posts, etc.
=====================
*/
        
        .inline {
            box-shadow: none !important;
            border: none !important;
            border-radius: 2px !important;
            margin: auto !important;
            margin-left: 0px !important;
            padding-right: 10px !important;
            margin-right: 10px !important;
            font-size: 10pt !important;
            background: transparent !important;
        }
     
        .inline .postContainer, .inline .opContainer {
            margin: 0px !important;
            margin-right: 15px !important;
            padding-right: 15px !important;
            border: none !important;
        }
     
        #qp {
            box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
            border-radius: 2px !important;
            max-width: 100% !important;
            margin: 10px !important;
            border: none !important;
            z-index: 5 !important;
        }
       
        #qp .postContainer {
            margin-top: -2px !important;
            margin-right: 10px !important;
        }
     
        #qp .postInfo {
            width: 100% !important;
            display: block !important;
        }
       
        #qp .menu_button {
            margin-right: 0!important;
        }
       
        .inline .menu_button {
            margin-left: 4px !important;
        }
     
        .postInfo > .container {
            display: inline !important;
            font-size: 9pt !important;
        }
       
        .opContainer .container {
            margin-right: -4px !important;
        }
       
        .postInfo input[type="checkbox"] {
            display: none !important;
        }
     
        .postMessage {
            text-align: justify !important;
            padding-bottom: 0px !important;
            margin-top: 10px !important;
            margin-bottom: 10px !important;
            margin-left: 15px !important;
            margin-right: 20px !important;
            padding-right: 10px !important;
            color: #444 !important;
        }
     
        div.closed {
            padding: 10px !important;
        }
        
        .vote {
            display: none !important;
        }

       .hide_reply_button a::before {
            content: "-" !important;
            font-size: 9pt !important;
            color: #bebebe !important;
            position: relative !important;
        }
        
        .hide_reply_button a::before {
            z-index: 5 !important;
        }
        
        .hide_thread_button:not(.hidden_thread):after {
            content: "hide" !important;
            font-size: 8pt !important;
            transition: 0.5s color ease;
            color: #ddd !important;
            
        }
        
        .hide_thread_button:hover:after {
            color: #666 !important;
            transition: 0.5s color ease;
        }
        
        .hide_thread_button:not(.hidden_thread) {
            position: absolute !important;
            left: auto !important;
            right: 10% !important;
            margin-right: 10px !important;
            margin-top: 6px !important;
            height: 10px !important;
            z-index: 2 !important;
            display: block !important;
            font-size: 0 !important;
            transition: 0.5s color ease;
        }
        
        .hide_thread_button.hidden_thread {
            height: 16px !important;
            padding-top: 8px !important;
            padding-bottom: 4px !important;
            margin-top: 45px !important;
            margin-bottom: 45px !important;
            margin-right: -1px !important;
            margin-left: 0px !important;
            width: 100% !important;
            background: transparent !important;
            border-radius: 0px !important;
            border: none !important;
            font-family: limey;
            border-top: 1px solid #ddd !important;
            border-bottom: 1px solid #ddd !important;
        }
        
        .hide_thread_button.hidden_thread a {
            color: #888 !important;
        }
        
        .hide_thread_button.hidden_thread span {
            font-size: 0px !important;
        }
        
        .hide_thread_button.hidden_thread span:after {
            position: absolute;
            content: "+";
            float: none !important;
            right: 10% !important;
            left: auto !important;
            margin-right: 12px !important;
            margin-top: -1px !important;
            color: #aaa !important;
            font-size: 7pt !important;
            height: 10px !important;
        }
        
        .hide_thread_button.hidden_thread .menu_button {
            font-size: 0px !important;
            color: transparent !important;
            font-family: limey!important;
            margin-top: -2px !important;
            margin-right: 24px !important;
        }
        
        .hide_thread_button.hidden_thread .menu_button .span, .hide_thread_button.hidden_thread .menu_button > span {
            display: none !important;
        }
        
        .thread > .hidden_thread ~ * {
            display: none !important;
        }
        
        .postContainer.replyContainer.hidden, .postContainer.hide_reply_button.stub {
            border: none !important;
            padding-top: 0 !important;
            margin-bottom: 5px !important;
        }
        
        .hide_reply_button.stub {
            height: 16px !important;
            padding-top: 4px !important;
            padding-bottom: 4px !important;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
            margin-right: -1px !important;
            margin-left: 4px !important;
            width: 100% !important;
            background: transparent !important;
            border-radius: 0px !important;
            border: none !important;
        }
       
        .hide_reply_button.stub a {
            margin-left: 0px !important;
            color: #aaa !important;
            font-family: limey !important;
            font-size: 9pt !important;
        }
       
        .hide_reply_button.stub a::before {
            display: none !important;
        }
       
        .hide_reply_button.stub > a:hover {
            color: #888 !important;
        }
     
        .hide_reply_button.stub span {
            font-size: 0px !important;
            color: transparent !important;
            font-family: limey !important;
        }
       
        .hide_reply_button.stub .menu_button {
            font-size: 0px !important;
            color: transparent !important;
            font-family: limey!important;
            margin-top: -1px !important;
            margin-right: 7px !important;
        }
     
        .hide_reply_button.stub .menu_button::before {
            font-size: 0px !important;
        }
           
        .hide_reply_button.stub a:first-of-type::after {
            float: right !important;
            margin-top: 0px !important;
            margin-right: 9px !important;
            content: "+" !important;
            font-size: 9pt !important;
            color: #aaa !important;
            font-family: limey !important;
        }
     
        .favicon {
            display: inline !important;
            float: right !important;
            margin-top: 0px !important;
            width: 16px !important;
            margin-left: 0px !important;
            margin-right: -14px !important;
            height: 16px !important;
            opacity: 0.0 !important;
        }
     
        .replylink {
            float: right !important;
            margin-left: 5px !important;
            margin-right: 5px !important;
            margin-top: 1px !important;
            color: transparent !important;
        }
     
        a.replylink {
            font-size: 0px !important;
        }
     
        .replylink:before {
            content: url("http://imgur.com/WpNCh.png") !important;
        }
       
        /*Icon that overlays the favicon*/
        .opContainer > div .postInfo:before {
            float: right !important;
            content: url('http://i.imgur.com/UNhyj.png') !important;
            margin-left: 0px !important;
            margin-right: 4px !important;
            margin-top: 0px !important;
        }
     
        .menu_button {
            float: right !important;
            margin-top: 0px !important;
            margin-right: 20px !important;
            margin-left: 10px !important;
            font-family: limey !important;
            font-size: 0px !important;
            color: transparent !important;
        }
     
        .menu_button::after {
            content: "\25BE" !important;
            font-size: 9pt !important;
            color: #bebebe !important;
        }
       
        .post.op .menu_button::after {
            color: #bebebe !important;
        }
     
        .post.op .menu_button {
            margin-top: 0px !important;
            margin-right: 0px !important;
            margin-left: 0px !important;
        }
     
        #menu.reply.dialog {
            display: block !important;
            margin-left: 0px !important;
            margin-top: 0px !important;
            border: none !important;
            border-radius: 2px !important;
            box-shadow: 0px 1px 1px rgba(0,0,0,0.2) !important;
        }
     
        .subMenu {
            left: -110px !important;
            width: 108px !important;
        }
     
        .entry, .subMenu {
            background: #ffffff !important;
            border-color: #eee !important;
            color: #777 !important;
            font-family: limey !important;
            font-size: 8pt !important;
        }
       
        .entry:hover {
            color: #555 !important;
        }
       
        .opContainer {
            position: relative !important;
            display: table !important;
            height: 100% !important;
            width: 100% !important;
            padding-top: 10px !important;
            margin-top: 10px !important;
            margin-bottom: 20px !important;
            
        }
     
        #options.reply.dialog {
            background: #fff !important;
            color: #555 !important;
            border-radius: 2px !important;
            box-shadow: 0px 1px 1px rgba(0,0,0,0.3) !important;
            z-index: 5 !important;
        }
       
        #options.reply.dialog label {
            text-decoration: none !important;
            font-style: normal !important;
            color: #333 !important;
        }
       
        #overlay {
            z-index: 5 !important;
        }
       
        .dialog {
            background: #fff !important;
            color: #333 !important;
        }
       
        .fileText {
            margin-left: -5px !important;
            font-size: 9pt !important;
        }
       
        .fileInfo a {
            text-decoration: none !important;
            font-size: 9pt !important;
        }
       
        .fileText > a {
            margin-left: 10px !important;
        }
     
        .post.reply > .file > .fileInfo, .fileInfo {
            margin-left: -2px !important;
            font-size: 10pt !important;
            background: #fff !important;
            margin-right: 2px !important;
            margin-top: 0px !important;
            margin-bottom: 4px !important;
        }
     
        
        .post.op .file {
            background: #fff !important;
            margin-right: 0px !important;
            margin-top: 0px !important;
            padding-bottom: 1px !important;
            border-top-left-radius: 5px !important;
            border-top-right-radius: 4px !important;
        }
       
        .post.op .fileText a {
            font-style: normal !important;
        }
       
        .post.op .fileThumb {
            margin-left: 22px !important;
            margin-bottom: 16px !important;
           
        }
       
        .backlink:first-child::before {
            content: "\00B7\A0" !important;
            color: #aaa !important;
            margin-left: -4px !important;
        }

        .thread {
            margin: 0 auto !important;
            margin-bottom: 0px !important;
            margin-top: 30px !important;
            background-color: transparent !important;
            width: 80% !important;
        }
     
        .postContainer {
            position: relative !important;
            background-color: /*#f1f3f5*/ #fff !important;
            width: 100% !important;
            border-bottom: none !important;
            border-left: none !important;
            border-right: none !important;
            border-top: 1px solid #e6e8eb;
            padding-top: 5px !important;
            padding-bottom: 5px !important;
            margin-right: 0px !important;
            display: table !important;
        }
        
        .thread .postContainer.opContainer {
            border-top: 1px solid #d1d5de !important;
        }     
        
         .thread .postContainer {
            margin-top: 0px !important;
        }
            
     
        .post.op .postMessage {
            margin-top: 0px !important;
            padding-top: 10px !important;
            margin-right: 0px !important;
            padding-right: 20px !important;
        }
     
        .fileThumb img {
            border-top: none !important;
            margin-left: -18px !important;
            margin-top: 2px !important;
            margin-bottom: -11px !important;
            border-radius: 1px !important;
            box-shadow: 0px 1px 2px rgba(0,0,0,0.3) !important;
        }
       
        .fileThumb {
            margin-bottom: 15px !important;
        }
     
        .post.op .subject {
            margin-right: 2px !important;
        }
       
        div .postInfo {
            width: auto !important;
            display: block !important;
            margin-bottom: 0px;
            margin-left: -2px !important;
            margin-right: 2px !important;
            padding-left: 5px !important;
            margin-top: -1px !important;
            padding-top: 2px !important;
            padding-bottom: 2px !important;
           
            font-size: 9pt !important;
            background: transparent !important;
            border-bottom: none !important;
            border-top: 1px #909090 !important;
            border-top-left-radius: 0px !important;
            border-top-right-radius: 0px !important;
        }
       
        .postInfo {
            border-top-left-radius: 0px !important;
        }
     
        .opContainer {
            margin-top: 1px !important;
        }
     
        .post.op .postInfo {
            background: transparent !important;
            margin-right: 0px !important;
            margin-left: 0 !important;
        }
       
        .prev, .next {
            color: #333 !important;
            background-color: transparent !important;
            margin-top: 1px !important;
           
            font-family: limey !important;
            font-size: 9pt !important;
        }
       
        .pagelist {
            float: none !important;
            position: relative !important;
            display: block !important;
            background-color: transparent !important;
            color: #aaa !important;
            border: none !important;
            width: 400px !important;
            text-align: center !important;
            margin: 0 auto !important;
            margin-top: 10px !important;
            margin-bottom: -20px !important;
            font-family: cure !important;
            font-size: 9pt !important;
        }
     
        .pagelist a {
            color: #777 !important;
        }
       
        .pagelist a:hover {
            color: #555 !important;
        }
       
        .pagelist strong {
            font-weight: normal !important;
            color: #333 !important;
        }
     
        .cataloglink {
            color: transparent !important;
            font-size: 0px !important;
        }
       
        .cataloglink a {
            font-size: 9pt !important;
        }
     
    }


/*
==============
Catalog
==============
*/


    /* to do: improve search implementation; update colors */
    @-moz-document regexp("http://boards.4chan.org/(.|..|...|....)\\/catalog"), regexp("https://boards.4chan.org/(.|..|...|....)\\/catalog") {
        body {
            background: #fbfbfb !important;
            font-family: limey !important;
            font-size: 10pt !important;
            color: #646464 !important;
        }
       
        #toggleMsgBtn, #styleSwitcher {
            display: none !important;
        }
       
        #threads {
            margin: 0 auto !important;
            margin-top: 16px !important;
            width: 94% !important;
            background-color: #f9f9f9 !important;
            box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.2) !important;
            border-radius: 2px !important;
            border: 1px solid #e0e0e0 !important;
        }
       
        /* Override the .thread properties defined for the boards */
        .thread {
            width: 250px !important;
            max-height: 410px !important;
            margin: 0px !important;
            background-color: #fff !important;
            margin: 5px !important;
            box-shadow: inset 0px 1px 2px -1px rgba(0,0,0,0.2) !important;
            border-radius: 2px !important;
            border: 1px solid #e0e0e0 !important;
        }
        
        #settings {
            position: fixed !important;
            text-align: center !important;
            width: 100% !important;
        }


        .thumb {
            border-top: none !important;
            border-radius: 1px !important;
            box-shadow: 0px 1px 2px rgba(0,0,0,0.3) !important;
            max-width: 220px !important;
            margin-top: 5px !important;
        }
       
        .teaser {
            margin-left: 5px !important;
            margin-right: 5px !important;
        }
        
/*Settings integration into the navigation bar */

        #settings {
            position: fixed !important;
            top: -1000px !important;
            right: 20% !important;
            left: auto !important;
            width: 16px !important;
            z-index: 3 !important;
            overflow: hidden !important;
           
            font-size: 0px !important;
            color: transparent !important;
            background: #505050 !important;
            box-shadow: 0px 6px 5px rgba(0,0,0,0.2) !important;
            border-bottom-left-radius: 3px !important;
            border-bottom-right-radius: 3px !important;
            border: none !important;
            visibility: hidden !important;
        }
       
        #settings > div {
            max-width: 545px !important;
            width: 545px !important;
            overflow: hidden !important;
        }
             
        #settings::after {
            display: none !important;
            content: url('http://i46.tinypic.com/mry1wz.jpg');
            height: 22px !important;
            max-width: 10px !important;
            min-width: 10px !important;
            width: 10px !important;
            position: fixed !important;
           
            top: 3px !important;
            right: 4% !important;
            margin-right: 7px !important;
            padding-bottom: 0px !important;
            z-index: 3 !important;
            cursor: pointer !important;
            visibility: visible !important;
        }
     
        #settings:active::after, #settings:hover::after {
            content: url('http://i46.tinypic.com/mry1wz.jpg');
        }
     
        #settings:active, #settings:hover {
            position: fixed !important;
            top: 17px !important;
            width: 285px !important;
            /*float: right !important;*/
            right: 4% !important;
            padding: 5px !important;
            padding-top: 5px !important;
            cursor: default !important;
            box-shadow: inset 0px 3px 3px -1px rgba(0,0,0,0.3) !important;
            visibility: visible !important;
        }
       
        #filters-ctrl.button {
            color: #a2a2a2 !important;
            text-shadow: none !important;
            text-decoration: none !important;
            font-weight: normal !important;
            font-size: 10pt !important;
            font-weight: normal !important;
        }
       
        select {
            font-size: 10pt !important;
            margin-right: 4px !important;
        }
       
/* Search box integration into the navbar */

        /* to do: prevent the settings pane to appear when search box or button is active; create search icon that fits the paradigm of the icons used */
        #qf-ctrl.button, #qf-ctrl.button:hover {
            display: inline !important;
            top: 3px !important;
            right: 4% !important;
            margin-right: 30px !important;
            position: fixed !important;
            font-size: 0px !important;
            color: transparent !important;
            visibility: visible !important;
        }
       
        #qf-ctrl.button::before {
            display: none !important;
            content: url("http://i46.tinypic.com/3zxuh.jpg") !important;
        }
       
        #qf-ctrl.button:active::before {
            content: url("http://i48.tinypic.com/dfhteh.jpg") !important;
        }
       
        #qf-clear {
            visibility: visible !important;
            display: block !important;
            position: fixed !important;
            font-size: 9pt !important;
            top: 2px !important;
            right: 4% !important;
            margin-right: 58px !important;
            color: #646464 !important;
            text-shadow: none !important;
        }
       
        #qf-box {
            -moz-appearance: none !important;
            background: #F9F9F9 !important;
            box-shadow: inset 0px 1px 1px #1a355e !important;
            border: none !important;
            border-radius: 2px !important;
            color: #646464 !important;
           
            visibility: visible !important;
            display: block !important;
            width: 140px !important;
            max-height: 16px !important;
            position: fixed !important;
            top: 1px !important;
            margin-right: 54px !important;
            right: 4% !important;
        }
       
        #qf-box:focus {
            border: none !important;
        }
        
         #toggleMsgBtn, a#globalToggle.button.redButton.mobile.shown::after, .globalMessage, .globalMessage a, #globalMessage h3, strong, h2, #globalToggle::after, #globalToggle, .collapseIcon, .expandIcon, #togglePostForm {
            display: none !important;
        }
        
    }
