@-moz-document domain("boards.4chan.org") {
        body {
          background: #fff!important;
          font-family: Lucida Grande !important;
          font-size: 7pt !important;
        }
        
        #content, div.board {
          margin-left: -4px !important;
          width: 100% !important;
        }
        
        
/*
==================
Things to hide
==================
*/


        hr,
        .deleteform,
        .postingMode,
        .stylechanger,
        .boardBanner > img.title,
        .postForm,
        .move > span > select,
        .extButton,
        h1,
        #imageType,
        select#imageType,
        div.center,
        .navLinks,
        .globalMessage.hideMobile,
        .vote,
        input[type="checkbox"]#imageExpand,
        input[type="checkbox"]#prefetch,
        #qr input[type="checkbox"],
        .close,
        .postInfo input[type="checkbox"],
        .fileDeletedRes,
        #updater, #watcher, #qr .move {
            display: none !important;
        }

       
/*
=======================
General colors
=======================
*/

        a.useremail[href*='sage']:last-of-type::after,
        a.useremail[href*='Sage']:last-of-type::after,
        a.useremail[href*='SAGE']:last-of-type::after {
            content: " (sage)" !important;
            color: #a27b9d !important;
            font-size: 8pt !important;
            font-weight: bold !important;
        }
        
        span.capcodeMod span.name,
        span.capcodeMod a:not(:hover),
        span.capcodeMod span.postertrip,
        span.capcodeMod strong.capcode,
        .postNum a:hover,
        .inline .postNum a:hover {
            color: #a27b9d !important;
        }
        
        .useremail,
        a.useremail:hover {
            color: #7b80a2 !important;
            text-decoration: none !important;
            font-weight: bold !important;
            transition: 0.5s color ease;
        }
     
        .useremail .name:hover {
            color: #777 !important;
        }
       
       .name {
            color: #7b80a2 !important;
            font-weight: bold !important;
            text-decoration: none !important;
        }
               
        .postertrip {
            color: #bf7c83 !important;
        }
       
        a.useremail {
            color: #aaa !important;
            font-style: normal !important;
            text-decoration: none !important;
        }
    
        #spoilerLabel {
            color: #ccc !important
        }
     
        .dateTime {
            color: #999 !important;
            font-style: normal !important;
            margin-left: 4px !important;
            margin-right: 4px !important;
        }
     
        .postNum a, .inline .postNum a {
            color: #bf7c83 !important;
        }
       
        a.replylink {
            color: #ccc !important;
            text-decoration: none !important;
            font-size: 8pt !important;
        }
     
        a.replylink:hover {
            color: #aaa !important;
        }
     
        .post.op .postNum > span {
            color: transparent !important;
            font-size: 0px !important;
        }
        
        .backlink:first-child::before {
            margin-left: -4px !important;
        }
    
        .backlink {
            font-size: 0 !important;
        }
     
        .backlink:after {
            content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH3QEbFh0G1qhKlAAAAMJJREFUGNNdjjFqAmEYRN/sanCjoMkBLAOCtZewEHKFeAEbEQxkRZBYqI2QC1gtqXIAD2GTxoCEBKs0ERbU3/1SuGJwuhneDAOpoijyH3vDBy7kAYRhmFu8ryZC9UtArdY4yJfcCKgBO4wPZAdJcz+JZ5nr4n4AqqWFK0QFhBnVgxcUPPmaYvz8W40x+wacJWro+OG57NCLpG3/qX1/zEZ3DtdPT3Y+k6xrGnydhzZLE2/eyQ663XXG4s4ZuC383gSvf/KcPkhRDAYHAAAAAElFTkSuQmCC) !important;
            font-size: 8pt !important;
            padding-top: 3px !important;
            margin-right: 6px !important;
        }
    
        .backlink:hover::after, .backlink.filtered:hover::after {
            opacity: 0.75 !important;
            transition: all 0.3s ease 0s;
        }
            
        .backlink.filtered:after {
            opacity: 0.55 !important;
            transition: all 0.3s ease 0s;
        }

        .post.op .backlink:first-child {
            margin-left: 0px !important;
            margin-right: 0px !important;
        }
       
        .postMessage {
            margin-left: 0px;
            margin-right: 20px !important;
            padding-right: 0px !important;
            margin-top: 10px;
            margin-bottom: 10px;
            width: 94%;
            line-height: 16px !important;
            font-size: 8pt !important
        }
       
        .warning > a, .warning, #errmsg {
            color: #132745 !important;
            text-shadow: none !important;
            text-align: center !important;
        }
       
        .linkifyplus a, .postMessage a, #credits a {
            color: #677996 !important;
            text-decoration: none !important;
        }
        
        .linkifyplus a:hover, .postMessage a:hover, #credits a:hover {
            color: #254d87 !important;
        }
     
        .quote {
            color: #28915d !important;
        }
       
        .subject {
            color: #666 !important;
            font-weight: bold !important;
            font-style: normal !important;
        }
       
        .summary {
            color: #aaa !important;
            float: right !important;
            margin-right: 2px !important;
            padding-bottom: 2px !important;
            font-size: 8pt !important;
            transition: 0.5s color ease;
        }
        
        .summary:hover {
            transition: 0.5s color ease !important;
        }
        
        .abbr,
        .filtered,
        .inline .filtered,
        a.quotelink.filtered,
        .quoteLink, .deadlink {
            font-size: 8pt !important;
            color: #ccc !important;
            text-decoration: none !important;
        }
       
        .nameBlock .posteruid {
            color: #aaa !important;
        }


/*
=============
Board banner
=============
*/


        .boardBanner {
            margin-bottom: 0px !important;
            background: transparent !important;
            width: 98% !important;
            margin: 0 auto !important;
            margin-top: 15px !important;
            margin-bottom: -25px !important;
            box-shadow: none !important;
            border-radius: 0px !important;
            text-align: center !important;
        }
       
        .boardTitle {
            color: #444 !important;
            font: normal 20pt Helvetica Lt STD Light !important;
            
        }
     
        .boardSubtitle {
            margin-top: 2px !important;
            color: #666 !important;
            font: normal 8pt Helvetica Neue !important;
        }
     
        .boardSubtitle a,
        .boardSubtitle a:hover {
            color: #677996 !important;
            text-decoration: none !important;
        }
     
        #boardNavDesktopFoot, .absBotText {
            font-size: 0px !important;
            color: transparent !important;
        }
       
       
/*
==================
Navigation Links
==================
*/


/* top items - to do: compress into single absolutely-positioned menu */

        #boardNavDesktop {
            position: absolute !important;
            top: 2px !important;
            width: auto !important;
            right: 0% !important;
            left: auto !important;
            height: 20px;
            overflow: hidden !important;
            font-size: 0pt !important;
            background: transparent !important;
            color: transparent !important;
            z-index: 2 !important;
            text-align: center !important;
            opacity: 0 !important;
        }
    
        #boardNavDesktop a.settingsWindowLink, #boardNavDesktop #imgControls {
            font-size: 0px !important;
            color: #c3c3c3 !important;
        }

        #boardNavDesktop a.settingsWindowLink:before {
            font-size: 8pt !important;
            content: "settings" !important;
            margin-right: 10px !important;
            margin-left: 0 !important;
        }
        
        
        #imgControls, #prefetch {
            font-size: 0px !important;
            color: transparent !important;
        }
        
        #imgControls > *::before {
            font-size: 8pt !important;
            color: #bbb!important;
            content: "Expand images";
            top: 2px !important;
            position: absolute !important;
            text-align: center !important;
            width: auto !important;
            z-index: 10 !important;
            opacity: 0 !important;
        }
    
        #imgControls > *:hover::before, #boardNavDesktop:hover {
            opacity: 1 !important;
        }
       
        #boardNavDesktop a {
            font-size: 8pt !important;
            color: #c3c3c3 !important;
            transition: 0.5s color ease;
            display: none !important;
        }
       
        #boardNavDesktop a[class="current"]{
            color: #888 !important;
            font-weight: normal !important;
            text-shadow: none !important;
        }
       
        #boardNavDesktop a:hover {
            color: #aaa !important;
            transition: 0.5s color ease;
        }
       
        #boardNavDesktop a::before, #boardNavDesktop a::after {
            content: "/";
            transition: 0.5s color ease;
        }
         
        #boardNavDesktop a[href*="boards.4chan.org/a/"],
        #boardNavDesktop a[href*="boards.4chan.org/co/"],
        #boardNavDesktop a[href*="boards.4chan.org/g/"],
        #boardNavDesktop a[href*="boards.4chan.org/mu/"],
        #boardNavDesktop a.settingsWindowLink {
            display: inline !important;
        }
        
/* thread stats */

        #stats {
            position: fixed !important;
            right: auto !important;
            left: 0% !important;
            bottom: 2px !important;
            top: auto !important;
            border: none !important;
            z-index: 4 !important;
            width: auto !important;
            font-size: 7pt !important;
            color: #bbb !important;
            margin-left: 4px;
            text-shadow: none !important;
            background-color: transparent !important;
            font-family: Lucida Grande !important;
        }

        
/* global message - to do: integrate into top items */
        
        #globalToggle {
            display: inline !important;
            position: absolute !important;
            top: -1000% !important;
            right: 0% !important;
            z-index: 4 !important;
            margin-right: 62px !important;
            padding-left: 1px !important;
            cursor: default !important;
            text-decoration: none !important;
            cursor: pointer !important;
            font-size: 0;
            height: 11px !important;
            width: 10px !important;
            border-radius: 3px !important;
        }

        #globalToggle::after {
            content: url('http://i46.tinypic.com/3zxuh.jpg');
            color: #b37d7d;
            background: transparent !important;
        }
       
       a#globalToggle.button.redButton.mobile.shown::after, a#globalToggle.button.redButton.mobile.shown:active::after{
            content: url('http://i48.tinypic.com/dfhteh.jpg');
            background: #aaa !important;
        }
       
        .globalMessage {
            position: relative !important;
            width: 80% !important;
            height: auto !important;
            top: 12px !important;
            right: 10% !important;
            left: 10% !important;
            padding-bottom: 0px !important;
            padding-top: 4px !important;
            z-index: 1;
            border-bottom-left-radius: 2px !important;
            border-bottom-right-radius: 2px !important;
            background: transparent !important;
        }
        
        #globalMessage h3 {
            font-size: 10pt !important;
            color: #888 !important;
            font-weight: normal !important;
            margin: 2px !important;
        }
       
        strong, h2 {
            margin: 2px !important;
            font-size: 10pt !important;
            color: inherit !important;
            font-weight: normal !important;
        }
       
        .globalMessage a {
            color: #666 !important;
            font-weight: normal !important;
            text-decoration: none !important;
        }
       
        .globalMessage a:hover {
            color: #ddd !important;
        }
       

/* 
=================
Quick Reply 
=================
*/


        #qr {
            display: block !important;
        }
     
        #qr:hover input[type="checkbox"] {
            top: 8px !important;
        }
       
        #qr::before {
            content: 'Post';
            border-radius: 3px !important;
            border-top-left-radius: 0px !important;
            border-top-right-radius: 0px !important;
            position: fixed !important;
            bottom: 1px !important;
            right: 0% !important;
            padding-right: 4px;
            padding-left: 4px !important;
            padding-bottom: 1px !important;
            margin-right: 10px !important;
            z-index: 5;
            font-size: 7pt !important;
            color: #bbb;
        }
     
        #qr:hover::before, #qr select #qr:hover::before {
            color: #fff;
            background: #aaa !important;
            opacity: 1;
        }
     
        #qr > div {
            max-width: 400px !important;
            width: 400px !important;
        }
       
        #qr:hover {
            display: block !important;
            top: 0px !important;
            float: right !important;
        }
     
        #qr form {
            position: fixed !important;
            bottom: 12px !important;
            float: right !important;
            right: 0% !important;
            margin-right: 10px !important;
            width: 400px !important;
            padding: 4px !important;
            padding-bottom: 3px !important;
            background: #aaa !important;
            border-radius: 3px !important;
            border-bottom-right-radius: 0px !important;
        }
       
        #qr form:hover, #qr form:focus {
            position: fixed !important;
            z-index: 5 !important;
        }
       
       input[title="Name"].field {
            border: none !important;
            border-left: 1px solid #eee !important;
            margin-left: 40px !important;
       }
     
       input[title="Subject"].field {
            border: none !important;
            border-left: 1px solid #eee !important;
            border-top-right-radius: 2px !important;
       }
     
        input[title="E-mail"].field {
            border: none !important;
            border-left: 1px solid #ddd !important;
        }
     
        input[title="Name"].field, input[title="E-mail"].field, input[title="Subject"].field {
            -moz-appearance: none !important;
            font-family: Lucida Grande !important;
            position: relative !important;
            margin-bottom: 0px !important;
            height: 26px !important;
            font-size: 7pt !important;
            background: #fff !important;
            color: #333 !important;
            border-bottom: 1px solid #eee !important;
        }
       
        input[title="Dump list"] {
            -moz-appearance: none !important;
            color: #ccc !important;
            font-size: 10pt !important;
            display: block;
            height: 26px !important;
            margin-bottom: -26px !important;
           
            background: #fff !important;
            border: none !important;
            border-bottom: 1px solid #eee !important;
            border-top-left-radius: 2px !important;
        }
     
        form .field:hover, .textarea .field:hover {
            background: #fdfdfd !important;
            box-shadow: inset 0px 0px 3px rgba(0,0,0,0.1) !important;
        }
       
        form > .textarea > .field {
            -moz-appearance: none !important;
            height: 200px !important;
            max-width: 200px !important;
            margin-bottom: 0px !important;
            font-size: 7pt !important;
            font-family: Lucida Grande !important;
            background: #fff !important;
            color: #333 !important;
            border: none !important;
        }
       
        form > div > input[type="submit"] {
            position: absolute !important;
            font-size: 8pt !important;
            float: right !important;
            width: 70px !important;
            height: 26px !important;
            margin-top: -26px !important;
            margin-left: 50px !important;
            -moz-appearance: none !important;
            background: #fff !important;
            color: #ccc !important;
            border: none !important;
            border-left: 1px solid #eee !important;
            border-bottom: 1px solid #eee !important;
            text-transform: lowercase !important;
        }
       
        .captchainput .field {
            -moz-appearance: none !important;
            margin-top: 0px !important;
            margin-left: 1px !important;
            margin-bottom: 0px !important;
            font-size: 7pt !important;
            height: 26px !important;
            border: none !important;
            background: #fff !important;
            color: #333 !important;
        }
       
        form > div > input[type="submit"]:hover {
            background: #fdfdfd !important;
            box-shadow: inset 0px 0px 3px rgba(0,0,0,0.1) !important;
        }
     
        form > div > input[type="file"] > * {
            width: 330px !important;
            height: 23px !important;
            -moz-appearance: none;
            background: #fff !important;
            color: #333 !important;
            font-size: 7pt !important;
            border: none !important;
            border-top: 1px solid #eee !important;
            border-bottom-left-radius: 2px !important;
        }
       
        form > div > input[type="file"] {
            margin-top: -1px !important;
        }
     
        form > div > input[type="file"] > input[type="button"] {
            position: absolute !important;
            font-size: 8pt !important;
            float: right;
            width: 70px !important;
            height: 26px !important;
            margin-top: 0px !important;
            margin-left: 0px !important;
            padding-bottom: 1px !important;
           
            -moz-appearance: none;
            background: #fff !important;
            color: #ccc !important;
            border: none !important;
            border-top: 1px solid #eee !important;
            border-left: 1px solid #eee !important;
            border-bottom-left-radius: 0px !important;
            border-bottom-right-radius: 2px !important;
            text-transform: lowercase !important;
        }
       
        form > div > input[type="file"] > input[type="button"]:hover {
            background: #fdfdfd !important;
            box-shadow: inset 0px 0px 3px rgba(0,0,0,0.1) !important;
        }
     
        form .captchainput {
            width: 330px !important;
            margin-left: -1px !important;
        }


/*
=====================
Threads, posts, etc.
=====================
*/


/* code blocks - to do: fix alignment of non-code text */
       
        .prettyprint{
            background-color: #f5f5f5 !important;
            border: 1px solid #e5e5e5 !important;
            border-radius: 3px !important;
            box-shadow: none !important;
            margin-bottom: 0px !important;
            margin-top: 4px !important;
            margin-left: 0px !important;
            font-size: 9pt !important;
            padding-bottom: 2px !important;
            padding-top: 4px !important;
            width: inherit !important;
            overflow: scroll !important;
        }
        
/* inline and quick preview */

        .inline {
            box-shadow: none !important;
            border: none !important;
            border-radius: 2px !important;
            margin: auto !important;
            margin-left: 0px !important;
            margin-top: 10px !important;
            margin-bottom: 0px !important;
            padding-right: 10px !important;
            margin-right: 10px !important;
            font-size: 10pt !important;
            background: transparent !important;
        }
     
        .inline .postContainer, .inline .opContainer {
            margin: 0px !important;
            margin-right: 15px !important;
            padding-right: 15px !important;
            border: 1px solid #eee !important;
        }
     
        #qp {
            box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
            border-radius: 2px !important;
            max-width: 100% !important;
            margin: 10px !important;
            border: none !important;
            z-index: 5 !important;
        }
       
        #qp .postContainer {
            margin-top: -2px !important;
            margin-right: 10px !important;
        }
     
        #qp .postInfo {
            width: 100% !important;
            display: block !important;
        }
        
/* thread and reply hiding */

        .thread:hover .post.op .menu_button,
        .thread:hover .replylink,
        .thread:hover .summary,
        .thread:hover .hide_thread_button {
            opacity: 1 !important;
        }
        
        .hide_reply_button {
            position: relative !important;
            float: right !important;
            margin-top: 0px !important;
            margin-right: 8px !important;
            z-index: 0 !important;
            font-family: limey !important;
            font-size: 0px !important;
            color: transparent !important;
        }
        
       .hide_reply_button a::before {
            content: "\2296" !important;
            font-size: 8pt !important;
            color: #bebebe !important;
            position: relative !important;
            font-family: Helvetica Neue !important;
            margin-right: 0px !important;
        }
        
        .hide_reply_button a::before {
            z-index: 5 !important;
        }
        
        .hide_thread_button:not(.hidden_thread):after {
            content: "Click to hide thread." !important;
            font-size: 7pt !important;
            transition: 0.5s color ease;
            color: #bbb !important;
        }
        
        .hide_thread_button:hover:after {
            color: #888 !important;
            transition: 0.5s color ease;
        }
        
        .hide_thread_button:not(.hidden_thread) {
            position: absolute !important;
            left: auto !important;
            right: 7% !important;
            margin-right: 8px !important;
            margin-top: 2px !important;
            z-index: 1 !important;
            display: block !important;
            font-size: 0 !important;
            transition: 0.5s color ease;
            opacity: 0;
        }
        
        .hide_thread_button.hidden_thread {
            height: 16px !important;
            padding-top: 8px !important;
            padding-bottom: 4px !important;
            margin-top: 45px !important;
            margin-bottom: 45px !important;
            margin-right: -1px !important;
            margin-left: 0px !important;
            width: 100% !important;
            background: transparent !important;
            border-radius: 0px !important;
            border: none !important;
            font-family: Helvetica Neue;
            border-top: 1px solid #ddd !important;
            border-bottom: 1px solid #ddd !important;
        }
        
        .hide_thread_button.hidden_thread .thread {
            border: none !important;
        }
        
        .hide_thread_button.hidden_thread a {
            color: #888 !important;
        }
        
        .hide_thread_button.hidden_thread span {
            font-size: 0px !important;
        }
        
        .hide_thread_button.hidden_thread span:after {
            position: absolute;
            content: "\2297";
            float: none !important;
            right: 7% !important;
            left: auto !important;
            margin-right: 11px !important;
            margin-top: -1px !important;
            color: #aaa !important;
            font-size: 8pt !important;
            height: 10px !important;
        }
        
        .hide_thread_button.hidden_thread .menu_button {
            font-size: 0px !important;
            color: transparent !important;
            font-family: Helvetica Neue !important;
            margin-top: -2px !important;
            margin-right: 24px !important;
        }
        
        .hide_thread_button.hidden_thread .menu_button .span, .hide_thread_button.hidden_thread .menu_button > span {
            display: none !important;
        }
        
        .thread > .hidden_thread ~ * {
            display: none !important;
        }
        
        .postContainer.replyContainer.hidden, .postContainer.hide_reply_button.stub {
            border: none !important;
            padding-top: 0 !important;
            margin-bottom: 5px !important;
        }
        
        .hide_reply_button.stub {
            height: 16px !important;
            padding-top: 4px !important;
            padding-bottom: 4px !important;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
            margin-right: -2px !important;
            margin-left: 4px !important;
            width: 100% !important;
            background: transparent !important;
            border-radius: 0px !important;
            border: none !important;
        }
       
        .hide_reply_button.stub a {
            margin-left: 0px !important;
            color: #aaa !important;
            font-family: Helvetica Neue !important;
            font-size: 8pt !important;
        }
       
        .hide_reply_button.stub a::before {
            display: none !important;
        }
       
        .hide_reply_button.stub > a:hover {
            color: #888 !important;
        }
     
        .hide_reply_button.stub span {
            font-size: 0px !important;
            color: transparent !important;
            font-family: limey !important;
        }
       
        .hide_reply_button.stub .menu_button {
            font-size: 0px !important;
            color: transparent !important;
            font-family: Helvetica Neue !important;
            margin-top: -1px !important;
            margin-right: 7px !important;
        }
     
        .hide_reply_button.stub .menu_button::before {
            font-size: 0px !important;
        }
           
        .hide_reply_button.stub a:first-of-type::after {
            float: right !important;
            margin-top: 0px !important;
            margin-right: 10px !important;
            content: "\2297" !important;
            font-size: 8pt !important;
            color: #aaa !important;
            font-family: Helvetica Neue !important;
        }
     
/* posts */

        .post.reply {
            background: transparent !important;
            border: none !important;
            margin-top: -1px !important;
            width: 98% !important;
        }
        
        .postInfo > .container {
            display: inline !important;
            font-size: 8pt !important;
        }
       
        .opContainer .container {
            margin-right: -4px !important;
        }
     
        .postMessage {
            text-align: left !important;
            padding-bottom: 0px !important;
            margin-top: 10px !important;
            margin-bottom: 10px !important;
            margin-left: 15px !important;
            margin-right: 20px !important;
            padding-right: 10px !important;
            color: #555 !important;
        }
     
        div.closed {
            padding: 10px !important;
        }

        .favicon {
            display: inline !important;
            float: right !important;
            margin-top: 0px !important;
            width: 16px !important;
            margin-left: 0px !important;
            margin-right: -14px !important;
            height: 16px !important;
            opacity: 0.0 !important;
        }
     
        .replylink {
            float: right !important;
            margin-left: 2px !important;
            margin-right: 5px !important;
            margin-top: 1px !important;
            color: transparent !important;
        }
     
        a.replylink {
            font-size: 0px !important;
        }
     
        .replylink:before {
            content: url("http://imgur.com/WpNCh.png") !important;
        }
       
        .opContainer > div .postInfo:before {
            float: right !important;
            content: url('http://i.imgur.com/UNhyj.png') !important;
            margin-left: 2px !important;
            margin-right: 6px !important;
            margin-top: 0px !important;
        }
     
        .menu_button, .post.op .menu_button {
            float: none !important;
            margin-top: 0px !important;
            margin-right: 6px !important;
            margin-left: 4px !important;
            font-family: Helvetica Neue !important;
            font-size: 0px !important;
            color: transparent !important;
        }
     
        .menu_button::after {
            content: "\25BE" !important;
            font-size: 9pt !important;
            color: #bebebe !important;
        }
     
        #menu.reply.dialog {
            display: block !important;
            margin-left: 0px !important;
            margin-top: 0px !important;
            border: none !important;
            border-radius: 2px !important;
            box-shadow: 0px 1px 1px rgba(0,0,0,0.2) !important;
        }
     
        .subMenu {
            left: -110px !important;
            width: 108px !important;
        }
     
        .entry, .subMenu {
            background: #ffffff !important;
            border-color: #eee !important;
            color: #777 !important;
            font-family: limey !important;
            font-size: 8pt !important;
        }
       
        .entry:hover {
            color: #555 !important;
        }
       
        .opContainer {
            position: relative !important;
            display: table !important;
            height: 100% !important;
            width: 100% !important;
            padding-top: 10px !important;
            margin-top: 10px !important;
            margin-bottom: 20px !important;
        }
     
        #options.reply.dialog {
            background: #fff !important;
            color: #555 !important;
            border-radius: 2px !important;
            box-shadow: 0px 1px 1px rgba(0,0,0,0.3) !important;
            z-index: 5 !important;
        }
       
        #options.reply.dialog label {
            text-decoration: none !important;
            font-style: normal !important;
            color: #333 !important;
        }
       
        #overlay {
            z-index: 5 !important;
        }
       
        .dialog {
            background: #fff !important;
            color: #333 !important;
        }

        .post.op .file {
            background: #fff !important;
            margin-right: 0px !important;
            margin-top: 0px !important;
            padding-bottom: 1px !important;
            border-top-left-radius: 5px !important;
            border-top-right-radius: 4px !important;
        }
       
        .post.op .fileText a {
            font-style: normal !important;
        }
       
        .post.op .fileThumb {
            margin-left: 22px !important;
            margin-bottom: 16px !important;
           
        }

        .thread {
            margin: 0 auto !important;
            margin-bottom: 0px !important;
            margin-top: 30px !important;
            padding-left: 0px !important;
            background-color: transparent !important;
            width: 86% !important;
            border: 1px solid #eee !important;
        }
     
        .postContainer {
            position: relative !important;
            background-color: #fff !important;
            width: 100% !important;
            border-top: 1px solid #f2f2f2;
            padding-top: 5px !important;
            padding-bottom: 5px !important;
            margin-right: 0px !important;
            display: table !important;
        }
        
        .thread .postContainer.opContainer {
            border-top: none !important;
        }
        
         .thread .postContainer {
            margin-top: 0px !important;
        }
        
        .post.op .postMessage {
            margin-top: 0px !important;
            padding-top: 10px !important;
            margin-right: 0px !important;
            padding-right: 20px !important;
        }
        
        img {
            z-index: 3 !important;
        }
        
        .fileThumb img {
            border-top: none !important;
            margin-left: -12px !important;
            margin-top: 2px !important;
            margin-bottom: -11px !important;
            border-radius: 1px !important;
            box-shadow: 0px 1px 2px rgba(0,0,0,0.3) !important;
        }
       
        .fileThumb {
            margin-bottom: 15px !important;
        }
     
        .post.op .subject {
            margin-right: 2px !important;
        }
       
/* file info */
       
        div .postInfo {
            width: auto !important;
            display: block !important;
            margin-bottom: 0px;
            margin-left: -2px !important;
            margin-right: 2px !important;
            padding-left: 5px !important;
            margin-top: -1px !important;
            padding-top: 2px !important;
            padding-bottom: 2px !important;
            font-size:8pt !important;
            background: transparent !important;
            border-bottom: none !important;
            border-top: 1px #909090 !important;
        }
       
        .postInfo {
            border-top-left-radius: 0px !important;
        }

        .post.op .postInfo {
            background: transparent !important;
            margin-right: 0px !important;
            margin-left: -10px !important;
            margin-top: 1px !important;
        }
        
        .post.op .fileInfo {
            display: block !important;
            margin-left: 0px !important;
        }
        
        .fileText > a {
            margin-left: 10px !important;
        }
     
        .fileInfo {
            margin-left: 0px !important;
            font-size: 8pt !important;
            background: transparent !important;
            margin-right: 2px !important;
            margin-top: -3px !important;
            margin-bottom: -1px !important;
        }
       
        .fileText {
            font-family: Helvetica Neue !important;
            color: #c3c3c3!important;
            margin-left: -5px !important;
            font-size: 8px !important;
            opacity: 0 !important;
        }
        
        .fileInfo a,
        .inline .fileInfo a,
        .inline .fileText a {
            text-decoration: none !important;
            color: #c3c3c3 !important;
            background: transparent !important;
            border-radius: 2px !important;
            padding: 2px !important;
            text-align: center !important;
            font-family: Helvetica Neue !important;
            font-size: 10px !important;
            opacity: 0 !important;
        }

        .postContainer:hover .fileInfo a,
        .inline .fileInfo a:hover,
        .inline .fileText a:hover {
            background: transparent !important;
            color: #888 !important;
        }

        .fileText a,
        .inline .fileText a {
            background: transparent !important;
            color: #a5abd8 !important;
        }

        .fileText a:hover,
        .inline .fileText a:hover {
            background: transparent !important;
            color: #7b80a2 !important;
        }
        
        .postContainer:hover .fileText,
        .postContainer:hover .fileInfo a,
        .inline .fileInfo a:hover,
        .inline .fileText a:hover {
            opacity: 1 !important;
        }

/* page list and catalog links - from hdni's clean; reorganized to work for me */
       
        .pagelist {
            float: none !important;
            width: 450px !important;
            margin: 0 auto !important;
            margin-top: 3px !important;
            margin-bottom: -18px !important;
            font-size: 12px !important;
            color: transparent !important;
            background: transparent !important;
            border: none !important;
            font-size: 8pt !important;
        }

        .pages {
            margin-top: -2px !important;
        }
    
        .pages a {
            color: #7c818a !important;
            font-size: 8pt !important;
        }
    
        .pages strong {
            color: #121821 !important;
            font-size: 8pt !important;
        }

        .pagelist .cataloglink a {
            color: #aaa !important;
            font-size: 8pt !important;
        }

        .pages.cataloglink {
            margin: 0 !important;
            margin-left: 5px !important;
            background: transparent !important;
            border-radius: 2px !important;
            opacity: 0.65 !important;
            border: none !important;
            text-transform: lowercase !important;
            padding: 2px !important;
            margin-top: 2px !important;
            padding-top: 0px !important;
        }

        .pagelist .cataloglink a:hover {
            color: #fff !important;
        }

        .pagelist .prev input, .pagelist .next input {
            -moz-appearance: none !important;
            margin-top: 1px !important;
            background: transparent !important;
            color: #aaa!important;
            border: none !important;
            border-radius: 2px !important;
            opacity: 0.65 !important;
            padding: 1px !important;
            padding-top: 0px !important;
            text-transform: lowercase !important;
            cursor: pointer !important;
            font-size: 8pt !important;
            font-family: Lucida Grande !important;
        }

        .pagelist .prev input:hover,
        .pagelist .next input:hover,
        .pagelist .cataloglink:hover {
            background: #5c6066 !important;
            opacity: 1 !important;
            color: #fff !important;
        }
     
    }


/*
==============
Catalog
==============
*/


    /* to do: improve search implementation; update colors */
    @-moz-document regexp("http://boards.4chan.org/(.|..|...|....)\\/catalog"), regexp("https://boards.4chan.org/(.|..|...|....)\\/catalog") {
        
        body {
            background: #fbfbfb !important;
            font-family: limey !important;
            font-size: 10pt !important;
            color: #646464 !important;
        }
       
        #threads {
            margin: 0 auto !important;
            margin-top: 28px !important;
            margin-bottom: 10px !important;
            width: 94% !important;
            background-color: #f9f9f9 !important;
            box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.2) !important;
            border-radius: 2px !important;
            border: 1px solid #e0e0e0 !important;
        }
        
        .boardBanner {
            display: inherit !important;
            position: inherit !important;
        }
        
        .thread {
            width: 240px !important;
            max-height: 400px !important;
            background-color: #fff !important;
            margin: 5px !important;
            box-shadow: inset 0px 1px 2px -1px rgba(0,0,0,0.2) !important;
            border-radius: 2px !important;
            border: 1px solid #e0e0e0 !important;
            padding-left: 0px !important;
        }

        .thumb {
            border-top: none !important;
            border-radius: 1px !important;
            box-shadow: 0px 1px 2px rgba(0,0,0,0.3) !important;
            max-width: 220px !important;
            margin-top: 5px !important;
        }
       
        .teaser {
            margin-left: 5px !important;
            margin-right: 5px !important;
        }
        
        #toggleMsgBtn, a#globalToggle.button.redButton.mobile.shown::after,
        .globalMessage, .globalMessage a,
        #globalMessage h3, #globalToggle::after,
        #globalToggle, strong, h2,
        .collapseIcon, .expandIcon,
        #togglePostForm, #first-run,
        #filtered-label, #filtered-label-bottom,
        #hidden-label, #hidden-label-bottom,
        #search-label, #search-label-bottom,
        #settings,
        #qf-ctrl.button, #qf-ctrl.button:hover,
        #qf-clear, #qf-box,
        #toggleMsgBtn, #styleSwitcher,
        .boardNavDesktop, .boardnav {
            display: none !important;
        }
        
    }
